[Unit]
Description=Willx86 ssh app
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/ssh-will-x86.com/build
ExecStart=/root/ssh-will-x86.com/build/build
Restart=on-failure

[Install]
WantedBy=multi-user.target
