[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/ssh-will-x86.com/build
EnvironmentFile=/etc/systemd/system/ssh-will-x86.com.env
ExecStart=/root/ssh-will-x86.com/build/build -sK ${SECRET_KEY}
Restart=on-failure
