name: Deploy
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.x"

      - name: Build
        run: |
          go get .
          mkdir build
          cp projects.txt build/
          go build -o build/build .

      - name: Deploy to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "build/*"
          target: "/root/ssh-will-x86.com"

      - name: Restart Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" > /etc/systemd/system/ssh-will-x86.com.env
            systemctl daemon-reload
            systemctl restart ssh-will-x86.com
